<!DOCTYPE html>
<html>
    <head>
        <title>CalorieCounter - Recipe List</title>
        {% load static %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <script src="{% static 'recipe_estima/js/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'recipe_estima/css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="sidebar">
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'recipe_estima:home' %}">
                            <i class="fas fa-home menu-icon"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'recipe_estima:url_list' %}">
                            <i class="fas fa-list menu-icon"></i>
                            Recipe List
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'recipe_estima:recipe_calorie' %}">
                            <i class="fas fa-calculator menu-icon"></i>
                            Calorie Table
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'recipe_estima:url_input' %}">
                            <i class="fas fa-plus menu-icon"></i>
                            Add Recipe
                        </a>
                    </li>
                </ul>
            </nav>
            
            <main class="main-content">
                <h1 class="main-title">Calorie Calculator</h1>
                
                <!-- Form for adding new URL -->
                <form method="POST" action="{% url 'recipe_estima:url_result' %}">
                    {% csrf_token %}
                    <input type="url" name="url" placeholder="Paste recipe link here" required>
                    <button type="submit">Add Recipe</button>
                </form>

                <!-- List of saved recipes -->
                <h2>Saved Recipes:</h2>
                <ul>
                {% for url in urls %}
                    <li>
                        <a href="{% url 'recipe_estima:recipe_detail' recipe_id=url.id %}">{{ url.recipe_header }}</a>
                        <a href="{% url 'recipe_estima:recipe_delete' recipe_id=url.id %}">[Delete]</a>
                    </li>
                {% endfor %}
                </ul>
            </main>
        </div>
    </body>
</html>